<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #nima {
            width: 300px;
            height: 200px;
            background-size: cover; /* optional: to make image fit the div */
            background-repeat: no-repeat; /* optional: to prevent tiling */
        }
    </style>
    
</head>
<body>
    <div id="nima"></div>
    <script>

        let nima=document.getElementById("nima")
        nima.style.backgroundImage="url('image.png')";
    </script>
</body>
</html>