{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nima gap">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="default"> 
    <meta name="apple-mobile-web-app-title" content="Sahifa nomi"> 
    <title>Asilbek</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="asosiy">
        <div class="konteyner" id="konteyner"></div>
        <div id="info-box" class="hidden absolute bg-white p-4 border rounded shadow-lg z-50">
            <h1 id="info-title"></h1>
            <img id="info-image" src="" alt="" style="width: 100px; height: 100px; object-fit: cover;">
            <p id="info-description"></p>
        </div>
        <div class="hidden" id="info-uy">
            <h1>Uylarkuuuu</h1>
        </div>
    </div>
    <div class="samakotlar">
        <h1>nima</h1>
        <h1 id="info-title2"></h1>
        <img id="info-image2" src="" alt="" style="width: 100px; height: 100px; object-fit: cover;">
        <p id="info-description2"></p>
        
        <button>Tanlash</button>
    </div>
    <script>
        const jetData = JSON.parse('{{ jet_json|safe }}');
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
